/* override day number color and size */
.fc-day-number {
    font-size: 1.5em;
    color: #5c005c;
  }
  
  /* override day title color and size */
 .fc-day-header {
  text-transform: uppercase !important;
  text-decoration: none !important;
  color: inherit !important;
}

  .fc-col-header-cell{
    background-color: #ffffff;
    font-weight: bold;
    text-decoration: none !important;
    color: black !important;
  }
  

  .fc-event {
    background-color: #E9EFFF !important;
    border-color: #5272E9 !important;
    color: black !important;
    border-left-width: 5px !important;
  }
  
  .fc-event.is-holiday {
      color: black !important;
    background-color: #FFE9ED !important;
    border-color: #E95252 !important;
  }
  
  
  .fc-scroller {
    height: auto !important;
  }

  .full-width-calendar {
    width: 10%;
  }

  .full-weekday a,
.short-weekday a {
  color: inherit;
  text-decoration: none;
}

  

  